@charset "ISO-8859-1";

body{
	background-color: lightblue;
}
.search-container{
	border: solid green 2px;
}
.three-components
{
	display:flex;
}
.container{
	border: solid green 2px;
	width: 35%;
  	padding-bottom: 10%;
  	
  	align-content: center;
  	align-items: center;
  
}
.search{
	border: darkgreen solid 2px;
	margin-top:5px;
	align-items: center;
	margin-left: 400px;
	margin-bottom: 5px;
	width: 350px;
}

.search-button{
	color: darkgreen;
	border: darkgreen solid 2px;
	
}
.search-button:hover {
	color: white;
	background-color: darkgreen;
	pointer: cursor;
}
.user-functions{
	text-decoration: none;
	color: green;
	padding: 10px;
}
.user-functions:hover, .logout:hover{
	color: black
}
.post, .profile, .messages, .allmsgs{
	
	margin-left: 70px;
	margin-bottom: 60px;
	font-size: 20px;
}
.logout{
	margin-left: 72px;
	background: transparent;
    border: none;
    font-size: 18px;
    color:green;
}
.post-container{
	border: solid green 2px;
	width: 50%;
  	padding-bottom: 5%;
  	margin: 30px;
  	align-content: center;
  	align-items: center;
  	margin-bottom: 10px;
   
    
}
.profile-container{
	border: solid green 2px;
	width: 35%;
  	padding-bottom: 10%;
  	align-content: center;
  	align-items: center;
  
}
.msg-container{
	
	border: solid green 2px;
	padding-bottom: 10%;
  	width: 45%;
  	align-content: center;
  	align-items: center;
}
.post-form{
	align-items:center;
	margin-left:170px
}
.post-aoi{
	width:230px;
	border: solid 2px green;
}
.post-desc{
	border:solid 2px green;
}
.msg-form{
	align-items:center;
	margin-left:170px;
	margin-top:40px;
}
.profile-bar{
	margin-top:90px;
	margin-left:70px
}
.post-content{
	color:green;
}